---
layout: default
---

<img src="/images/signature.png" >

<div class="row">
  
    <h2>文章列表</h2>
    <input type="checkbox" id="toggle-switch" checked="checked">
    <label for="toggle-switch">显示繁体</label>


    
    
    
    <p>
      <div class="posts">
        <ol>
        <!-- {% assign sorted = site.posts | sort %} -->

        {% for post in site.posts %}
          {% if post.url contains "zh-tw" %}
            <!-- do nothing -->
          {% else %}
            {% assign post_name = post.url | replace: '/','' %}
          

            <li>
              
              <ul>
                
                <li>
                  <img src="/zh-simple.png" width="18px" /> <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ post.title }}</a>
                <a href="{{ post.wechat }}" target="_blank"><img src="/wechat.ico" width="16px" /></a><br>
                <span style="font-size:medium;">{{post.description}}</span>
                </li>  
                
                {% for zh_tw_post in site.posts %}
                  {% if zh_tw_post.url contains "zh-tw" %}
                    
                    {% assign zh_tw_post_name = zh_tw_post.url | replace: '/','' | replace: '_zh-tw','' %}
                  
                  
                    {% if zh_tw_post_name == post_name %}
                      
                      <li class="zh-trandition"><img src="/zh-trandition.png" width="18px" /> <a href="{{ site.baseurl }}{{ zh_tw_post.url}}" class="read-more">{{ zh_tw_post.title }}</a><br>
                        <span style="font-size:medium;">{{zh_tw_post.description}}</span></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                
                
                
              </ul>
            </li>

          {% endif %}
        {% endfor %}
        </ol>
      </div>
    </p>

  </div>


  <script>
    const contentElements = document.querySelectorAll('.zh-trandition');
    const toggleCheckbox = document.getElementById('toggle-switch');
  
    // Initially, hide all content elements except the first one
    contentElements.forEach((element, index) => {
        element.style.display = 'block';
    });
  
    // Add a change event listener to the toggle checkbox
    toggleCheckbox.addEventListener('change', function() {
      // Check the current state of the checkbox
      const isChecked = toggleCheckbox.checked;
      console.log('toggleCheckbox =',isChecked)
  
      // Toggle visibility of all content elements based on the checkbox state
      contentElements.forEach((element) => {
        element.style.display = isChecked ? 'block' : 'none';
      });
    });
  </script>

