---
layout: default
---

<img src="/images/signature.png" >

<div class="row">
  
    <h2>文章列表</h2>
    
    <p>
      <div class="posts">
        <ol>
        {% for post in site.posts %}
          {% if post.url contains "zh-tw" %}
            <!-- do nothing -->
          {% else %}
            {% assign post_name = post.url | replace: '/','' %}
          

            <li>
              
              <ul>
                
                <li>
                  <img src="/zh-simple.png" width="18px" /> <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ post.title }}</a>
                <a href="{{ post.wechat }}" target="_blank"><img src="/wechat.ico" width="16px" /></a><br>
                <span style="font-size:medium;">{{post.description}}</span>
                </li>  
                
                {% for zh_tw_post in site.posts %}
                  {% if zh_tw_post.url contains "zh-tw" %}
                    
                    {% assign zh_tw_post_name = zh_tw_post.url | replace: '/','' | replace: '_zh-tw','' %}
                  
                  
                    {% if zh_tw_post_name == post_name %}
                      
                      <li><img src="/zh-trandition.png" width="18px" /> <a href="{{ site.baseurl }}{{ zh_tw_post.url}}" class="read-more">{{ zh_tw_post.title }}</a><br>
                        <span style="font-size:medium;">{{zh_tw_post.description}}</span
                    {% endif %}
                  {% endif %}
                {% endfor %}
                
                
                </li>
              </ul>
            </li>

          {% endif %}
        {% endfor %}
        </ol>
      </div>
    </p>

  </div>


