---
layout: default
---

<article class="post">
  <div style="display: block; text-align: center;">
    <div style="font-size:smaller; background-color:honeydew; font-style: italic;">欢迎关注我的微信公众号，请搜<b><u>愚千一</u></b>或直接输入ID： Yuqianyi1001。<br>
      组织《共读阿含》中，<a href="https://yuqianyi1001.github.io/welcome-to-my-group/" target="_blank"><b>入群须知(必读)</b></a> ，加入群聊请加我微信：yuqianyi1002<br>
      海外的朋友请<a href="mailto:jeffwoo2019@gmail.com" target="_blank">Email</a>我，有Line和Telegram群组。</div>
  </div>

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    写于 {{ page.date | date: "%B %e, %Y" }}
  </div>


  <!-- {% include disqus.html %} -->

  <script src="https://giscus.app/client.js"
        data-repo="yuqianyi1001/yuqianyi1001.github.io"
        data-repo-id="R_kgDOHS6PyA"
        data-category="General"
        data-category-id="DIC_kwDOHS6PyM4Ccf2r"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
</article>
