---
layout: default
---

<article class="post">
  <div style="text-align:center;">
    <div style="font-size:smaller; background-color:honeydew; font-style: italic;">
      🔔欢迎关注微信公众号，在微信中搜<b><u>愚千一</u></b>或ID： Yuqianyi1001。<br/>另有交流群（微信、Line、Telegram）。请<a href="mailto:jeffwoo2019@gmail.com">Email我</a>您对应的ID。
    </div>
    
  </div>

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    写于 {{ page.date | date: "%B %e, %Y" }}
  </div>


  <!-- {% include disqus.html %} -->

  <script src="https://giscus.app/client.js"
        data-repo="yuqianyi1001/yuqianyi1001.github.io"
        data-repo-id="R_kgDOHS6PyA"
        data-category="General"
        data-category-id="DIC_kwDOHS6PyM4Ccf2r"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
</article>
