---
layout: default
---

<article class="post">
  <div style="display: block; text-align: right;">
    <div style="font-size:smaller">欢迎关注我的微信公众号，请搜<b><u>愚千一</u></b>或直接输入ID： Yuqianyi1001。<br>订阅后也可以看到我的<b><u>微信号</u></b>，方便交流。</div>
    <img src="/images/signature.png" width="60%">
  </div>

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    写于 {{ page.date | date: "%B %e, %Y" }}
  </div>


  <!-- {% include disqus.html %} -->

  <script src="https://giscus.app/client.js"
        data-repo="yuqianyi1001/yuqianyi1001.github.io"
        data-repo-id="R_kgDOHS6PyA"
        data-category="General"
        data-category-id="DIC_kwDOHS6PyM4Ccf2r"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
</article>
